<nav class="navbar">
  <div class="nav-wrapper">
    {{!-- <input type="text" class="search-box" placeholder="search"> --}}
    <div class="nav-items">

      <a href="/">Home</a>

      {{#if logged}}
      <a id="logout-button">LogOut</a>
      {{else}}
      <a href="/login" id="login-button">Login</a>
      {{/if}}

      <a href="/postimage">Post Image</a>

      <input type="text" id="search-text" class="search-box" placeholder="Search.." name="search">
      <button type="submit"><i href="/postimage" id="search-button" class="fa fa-search"></i></button>


      <a id="page-header">My Photo App</a>

      <a id="page-img">|<img src="https://cdn4.iconfinder.com/data/icons/world-travel-guide/512/travel-05-512.png"></a>

      <div class="animation start-home"></div>
    </div>
  </div>
</nav>