<nav>
  <a href="/">Home</a>
  <a href="/login">Login</a>
  <a href="/postimage">Post Image</a>
  <a href="/viewpost">View Image</a>
  <div class="animation start-home"></div>

  <p> My Photo App </p>

  <img src="https://cdn4.iconfinder.com/data/icons/world-travel-guide/512/travel-05-512.png"
</nav>