<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/public/css/form.css">
  <script defer src="/public/js/main.js"></script>
</head>
  <body>
    {{{body}}}
    {{>nav}}
  </body>
</html>
