{{!-- <div class="header-box">
  <div id="card">
    <button type="button" id="submit-button" onclick="loadXMLDoc()">
      Click to Display Images!
    </button>
  </div>
  <div id="demo"></div>
</div> --}}

<div id="main-content">
  {{#each results}}
      {{> card this}}
  {{/each}}
</div>