<!DOCTYPE html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/public/css/form.css">
  <script defer src="/public/js/Home.js"></script>
</head>

<html>
  <body>
    <nav>
      <a href="index.hbs">Home</a>
      <a href="/login">Login</a>
      <a href="registration.hbs">Register</a>
      <a href="postimage.hbs">Post Image</a>
      <a href="viewpost.hbs">View Image</a>
      <div class="animation start-home"></div>
    </nav>

    <div class="header-box">

      <h2>My Picture App</h2>

      <div id="count">
        <button type="button" id="submit-button" onclick="loadXMLDoc()">
          Click to Display Images!
        </button>
      </div>
      <div id="demo"></div>
    </div>
  </body>
</html>