<div class="main-box">
  <h2>Login</h2>
  <form>
    <div class="user-info">
      <input type="text" name="" required="">
      <label>Login</label>
    </div>
    <div class="user-info">
      <input type="password" name="" required="">
      <label>Password</label>
    </div>

    <input type="submit" value="Login" id="submit-button" />
    <h1>New to Site? <a href="/register">Create Account</a></h1>
  </form>
</div>