<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/public/css/form.css">
</head>
<body>
  
  <nav>
    <a href="login.hbs">Login</a>
    <a href="home.hbs">Home</a>
    <a href="registration.hbs">Register</a>
    <a href="postimage.hbs">Post Image</a>
    <a href="viewpost.hbs">View Image</a>
    <div class="animation start-home"></div>
  </nav>
    
    <div class="main-box">
        <h2>Login</h2>
        <form>
          <div class="user-info">
            <input type="text" name="" required="">
            <label>Login</label>
          </div>
          <div class="user-info">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>

          <input type="submit" value="Login" id="submit-button" />
        </form>
    </div>
 </body>
 </html>