<div class="main-box">
    <h2>Post An Image</h2>
    <form id="post-image" method="POST" enctype="multipart/form-data" action='/posts/createPost'>
        <div class="user-info">
            <input type="text" name="title" maxlength="25" required="">
            <label>Image Title</label>
        </div>

        <div class="user-info">
            <input type="text" name="description" maxlength="53" required="">
            <label>Image Description</label>
        </div>

        <div class="user-info">
            <label for="img">Upload Image</label><br>
            <br>
            <input type="file" id="img" name="uploadImage" accept="image/*" required><br>
        </div>

        <div class="tacbox">
            <input id="checkbox" type="checkbox" required/>
            <label for="checkbox"> <a href="/">Terms and Conditions</a>.</label>
        </div>

        <input type="submit" value="Post Image" id="submit-button" />

    </form>

</div>