<div class="main-box">
    <h2>Post An Image</h2>
    <form>
        <div class="user-info">
            <input type="text" name="" required="">
            <label>Image Title</label>
        </div>

        <div class="user-info">
            <label>Image Description</label>
            <br>
            <br>
            <textarea name="text" cols="40" rows="1.5" wrap="off" required=""
                placeholder="Enter Image Description..."></textarea><br>
            <br>
        </div>

        <div class="user-info">
            <label for="img">Upload Image</label><br>
            <br>
            <input type="file" id="img" name="img" accept="image/*" required><br>
        </div>

        <div class="tacbox">
            <input id="checkbox" type="checkbox" />
            <label for="checkbox"> <a href="/">Terms and Conditions</a>.</label>
        </div>

        <input type="submit" value="Post Image" id="submit-button" />

    </form>

</div>