<div class="reg-box">

  <h2>Register</h2>
  <form id="form" method="POST" action="/users/register" enctype="application/x-www-form-urlencoded">

    <div class="reg-info">
      <label for="username">Username</label>
      <input id="username" name="username" type="text" >
      <div class="error"></div>
    </div>

    <div class="reg-info">
      <label for="email">Email</label>
      <input id="email" name="email" type="text" >
      <div class="error"></div>
    </div>

    <div class="reg-info">
      <label for="password">Password</label>
      <input type="password" id="password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" >
      <div class="error"></div>
    </div>

    <div id="message">
      <h3>Password must contain the following:</h3>
      <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
      <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
      <p id="number" class="invalid">A <b>number</b></p>
      <p id="length" class="invalid">Minimum <b>8 characters</b></p>
    </div>

    <div class="reg-info">
      <label for="password2">Confirm Password </label>
      <input id="password2" name="password2" type="password">
      <div class="error"></div>
    </div>

    <div class="user-age">
      <br>
      <br>
      <label for="radio1">Are you 13+ years of Age?</label>
      <br>
      <br>
      <label for="radio1">Yes</label>
      <input type="radio" id="radio1" name="radio1" value="Yes" required>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label for="radio2">No</label>
      <input type="radio" id="radio2" name="radio1" value="No">
    </div>

    <br>
    <br>

    <div class="tacbox">
      <input id="checkbox" type="checkbox" required />
      <label for="checkbox"> <a href="/">Terms and Conditions</a></label>
    </div>

    <div class="submit-button">
      <input id="submit-button" type="submit" name="submit-button" />
    </div>

    <h1>Already have an account? <a href="/login">Login</a></h1>

  </form>
</div>