<div class="view-box">

    <h1>Posted Image</h1><br><br>

    <section id="post">

        <section id="post_title">
            <h2 class="text-center">Title of the Post <br>'Mishima'</h2><br>
        </section>

        <section id="post_image:">
            <img src="https://www.nybooks.com/wp-content/uploads/2019/04/nathan_1-052319.jpg"
                alt="Yukio Mishima, Tokyo, 1970" class="center" height="530" width="800">
        </section>

        <section id="post_author">
            <h3 class="text-center">Author of the Post<br> 'Abbas'</h3><br>
        </section>

        <section id="post_date">
            <h3 class="text-center">Time of the Post<br>'4:20 AM'</h3><br>
        </section>

    </section>

</div>

<div class="comment-box">
    <form action="submit" method="POST">
        <label>Comment</label>
        <br>
        <br>
        <textarea name="text" cols="40" rows="1.5" wrap="off" required=""
            placeholder="Type your comment here..."></textarea><br>
        <input type="submit" id="submit-button" value="Comment">
    </form>
</div>