html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://img.besthqwallpapers.com/Uploads/29-1-2018/38708/greek-island-thira-summer-santorini-greece.jpg) no-repeat center center fixed #505050;
  background-size: cover;
  margin-left: 10%;
  margin-right: 5%;
  width: 75%;
}

.main-box {
  position: absolute;
  overflow: bottom;
  top: 35%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .75);
  box-sizing: border-box;
  border-radius: 10px;
}

.main-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: center;
}

.main-box h1 {
  margin-top: 10%;
  color: rgb(255, 255, 255);
  font-size: medium;
  text-align: center;
}

.main-box .user-info {
  position: relative;
}

.main-box .user-info input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.main-box .user-info label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.main-box .user-info input:focus~label,
.main-box .user-info input:valid~label {
  top: -25px;
  left: 0;
  color: #03e9f4;
  font-size: 13px;
}

.user-info.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.user-info .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}

#submit-button {
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

#submit-button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
}

.main-box form a {
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.main-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;

}

.main-box .tacbox input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

/* css for register.html*/

.reg-box {
  position: absolute;
  overflow: bottom;
  top: 52%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, .75);
  box-sizing: border-box;
  border-radius: 10px;
}

.reg-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(255, 255, 255);
  text-align: center;
}

.reg-box h1 {
  margin-top: 10%;
  color: rgb(255, 255, 255);
  font-size: medium;
  text-align: center;
}

.reg-box .user-info {
  position: relative;
}

.reg-box .user-info input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.reg-box .user-info label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.reg-info input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.reg-info label {
  margin-top: 30px;
  font-size: 16px;
  color: #fff;
  transition: .5s;
}

.reg-box .user-age label {
  position: relative;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  pointer-events: none;
  transition: .5s;
}

.reg-box form a {
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.reg-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;

}

.reg-box .tacbox input {
  height: 2em;
  width: 2em;
  vertical-align: middle;
}

input[type="radio2"] {
  margin-left: 30px;
}

#message {
  font-family: sans-serif;
  margin-left: 15px;
  font-size: 12px;
  color: rgb(255, 255, 255);
  line-height: 0.5;
}

#message p {
  font-family: sans-serif;
  font-size: 14px;
  margin-left: 40px;
  line-height: 0.75;
}

.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "\2713";
}

.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "\2613";
}

.reg-info.error input {
  border-color: #ff0000;
}

.reg-info.error {
  margin-bottom: 15px;
  color: #ff0000;
}

/* css for postimage.html*/
textarea {
  resize: vertical;
  max-height: 100px;
  min-height: 20px;
}

/* css for viewpost.html*/

#post-container {
  background: rgba(0, 0, 0, 0.7);
  grid-area: content;
  padding-top: 5em;
  padding-bottom: .35em;
  display: grid;
  grid-gap: .2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "photoinfo comments";
}

#photo-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  grid-area: photoinfo;

}

#photo-container h1 {
  padding: 0;
  color: #fff;
  text-align: center;
}

#photo-container h2 {
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-top: 40px;
  margin: 0 0 5px;
  padding: 0;
  color: #fff;
  text-align: center;
}

#photo-container h3 {
  margin: 0;
  padding: 0;
  color:#03e9f4;
  text-align: center;
}

#photo-container img {
  height: 400px;
  width: 800px;

}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto
}

#comment-container {
  display: grid;
  margin-right: 1rem;
  justify-self:stretch;
  grid-area: comments;
  grid-template-rows: auto 95px;
  grid-template-columns: 1fr;
  gap: .2rem;
  grid-template-areas:
  "messages"
  "comment-box";
  max-height: 80vh;
}

#comment-button {
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

#comment-button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
}

#messages {
  background:rgb(255, 255, 255);
  grid-area: messages;
  overflow: auto;
  display: flex;
  flex-flow: column-reverse nowrap;
  scroll-behavior: smooth;
  border: 2px solid #0000008a;
  box-shadow: -2px 2px 4px 4px #03e9f4;
  border-radius: .35rem;
}

div[id^=message-] {
  display: grid;
  grid-template-rows: .3fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap: .2em;
  padding: .25rem;
  margin: .2rem;
  font-size: 1rem;
  border: .125rem solid #000000;
  box-shadow: -2px 2px 4px 4px #03e9f4;
  border-radius: .25rem;
  grid-template-areas: 
  "author created"
  "comment comment";
}

.author-text {
  grid-area: author;
  justify-self: start;
  color: blue;
}

.comment-text{
  grid-area: comment;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 50px;
  min-height: 50px;
}

.date-posted {
  grid-area: created;
  justify-self: end;
}

#comment-box {
  box-shadow: -2px 2px 4px 4px #03e9f4;
  height: fit-content;
  padding: .20rem;
  display: flex;
  grid-area: comment-box;
  border-radius: .35rem;
}

#comment-box textarea {
  min-height: 62px;
  max-height: 62px;
  width: 65%;
  padding: .55rem;
}

/* Home page css */


#main-content {
  position: relative;
  grid-area: content;
  padding-top: 5em;
  padding-bottom: 00.35em;
  display: grid;
  gap: .3rem .2rem;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
}

@media screen and (max-width: 950px) {
  #main-content {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 700px) {
  #main-content {
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
  }
}

@media screen and (max-width: 450px) {
  #main-content {
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
  }
}

.card {
  display: grid;
  grid-template-rows: 150px 150px;
  grid-template-columns: auto;
}

.card-image {
  grid-area: 1 / 1 / 2 / 2;
}

div[class=card]>img {
  border: 8px solid #03e9f4;
  position: absolute;
  height: 100%;
  width: 100%;
}

img {
  border: 8px solid #03e9f4;
}

.card-body {
  position: relative;
  left: 8px;
  bottom: -6%;
  grid-area: 2 / 1 / 3 /2;
  padding: 1rem;
  background-color: #0000008a;
}

.card-title {
  font-weight: bold;
  text-decoration: underline;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: .1rem;
  margin-top: 0;
  padding-top: .1rem 2rem;
}

div [class=card-body]>a[class=card-button] {
  text-decoration: none;
}

.card-text {
  margin-top: 0;
  width: 12em;
  color: rgb(255, 255, 255);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.details-button {
  cursor: pointer;
  font-weight: bold;
  padding-bottom: 5%;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  padding: 10px 20px;
}

.details-button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 100px;

}

/* nav bar */

nav {
  top: 0.1%;
  position: absolute;
  width: 76%;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  font-weight: bolder;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.search-box {
  padding-right: 100px;
  transform: translateX(10%);
  width: 300px;
  height: 25px;
  background: #fafafa;
  border: 3px solid #03e9f4;
  border-radius: 2px;
  color: black;
  text-align: left;
  text-transform: capitalize;
}

.search-box::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

nav button {
  position: relative;
  width: 40px;
  height: 33px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 4px solid #03e9f4;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
}

nav img {
  width: 60px;
  height: 60px;
  position: absolute;
  top: -5px;
  left: 63%;
  border: #9b59b6;
}

nav page-header {
  color: #03e9f4;
}

.view-box h2 {
  position: absolute;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 8px;
}

a:nth-child(1) {
  width: 100px;
}

a:nth-child(2) {
  width: 110px;
}

a:nth-child(3) {
  width: 100px;
}

a:nth-child(4) {
  width: 160px;
}

a:nth-child(6) {
  cursor: default;
  padding-left: 5%;
}

a:nth-child(7) {
  cursor: default;
  padding-left: 1%;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 100px;
  left: 0;
  background-color: #03e9f4;
}

a:nth-child(2):hover~.animation {
  width: 110px;
  left: 100px;
  background-color: #e93824;
}

a:nth-child(3):hover~.animation {
  width: 100px;
  left: 210px;
  background-color: #12d418;
}

/* error user feedback*/

#flash-message {
  font-family: sans-serif;
  position: absolute;
  font-weight: bold;
  font-size: 16px;
  color: rgb(0, 0, 0);
  background-color: #03e9f4;
  padding: 10px;
  left: 50%;
  top: 3.25em;
  transform: translate(-50%, 0);
  z-index: 9999;
}

#flash-message div {
  text-align: center;
}